/node_modules
/public/hot
/public/storage
/public/category_images
/public/company_logos
/public/cvs
/public/favicon_images
/public/listing_images
/public/project_images
/public/sitesetting_images
/public/slider_images
/public/temp_project_images
/public/tinymce_images
/public/uploads
/public/user_images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/composer.lock