// Color
$black: #1d1d1b;
$light-black: #575756;
$white: #FFFFFF;
$dark-blue:#005cb9;
$primary-blue:#00b2e3;
$gray-shade-2: #5c6165;
$gray-shade-3: #777777;
$gray-shade-4: #6b797c;
$gray-shade-5: #6b7c8a;
$gray-shade-6: #929292;
$lighy-gray: #707f8c;
$light-gray-shade-2:#eeeeee;
$light-gray-shade-3:#eff2f5;
$light-gray-shade-4:#F5F7F8;
$light-gray-shade-5:#f6f7f9;
$light-gray-shade-6:#dce1e6;
$light-gray-shade-7:#eaeff5;
$light-gray-shade-8:#eff1f3;
$light-gray-shade-9:#dde6ef;
$light-gray-shade-10:#fbfdff;
$light-gray-shade-11:#d8dde6;
$brown-shade-1:#424242;
$green-shade-1:#1fb650;
$yellow-shade-1:#feb801;
$red-shade-1:#f21136;
$red-shade-2:#eb5425;

// Fonts
$Poppins: 'Poppins', sans-serif;
$Playfair: 'Playfair Display', sans-serif;

// Responsive
$xx-small:350px;
$x-small:545px;
$small: 767px;
$medium:992px;
$desktop:1024px;
$large:1300px;

//componnent styles
$b-radius-r-4:4px;
$b-radius-r-6:6px;